<app-header></app-header>
<div class="header">
    <h1>About Us</h1>
  </div>
  <div class="container">
    <h2>Welcome to Our Software Company</h2>
    <p>Innovation and Technological Advancement: Software companies often have a strong focus on innovation and staying at the forefront of technological advancements. They aim to develop cutting-edge software solutions that leverage the latest technologies and provide competitive advantages to their customers.</p>
    <div class="services">
      <h2>Our Services</h2>
      <ul>
        <li>Web Application Development</li>
        <li>Mobile App Development</li>
        <li>Custom Software Solutions</li>
        <li>UI/UX Design</li>
        <li>Quality Assurance and Testing</li>
        <li>Cloud Computing Solutions</li>
      </ul>
    </div>
   
  </div>

<app-footer></app-footer>