 <!-- <app-header></app-header>
<router-outlet></router-outlet>
<div class="container">
<div class="image1">
  <img  src="../assets/4207.jpg" alt="image1">
</div>
<div class="for-text">
  <h1>Welcome</h1>
  <h3>We believe in the power of innovation and embrace emerging technologies to create software solutions that drive business growth.</h3>
  <h3>We believe in the power of innovation and embrace emerging technologies to create software solutions that drive business growth.</h3>
  <h3>Our commitment to continuous improvement drives us to stay updated with the latest technologies and methodologies in software development.</h3>
  <h3>We are dedicated to delivering projects on time and within budget, without compromising on quality.</h3>
  <h3>We believe in fostering a collaborative environment where creativity thrives, enabling us to create innovative and intuitive software solutions.</h3>
</div>
</div>
<app-footer></app-footer> -->
<router-outlet></router-outlet>


<!-- for header -->
<!-- <div class="abs">
  <div class="nav-container">
      <tr >
          <th><a class="row-header1" routerLink="Home">Home</a></th>
          <th ><a class="row-header2" >About Us</a></th>
          <th ><a class="row-header3" >Contact Us</a></th>
      </tr>
  </div>
</div> -->


<!-- .abs{
  background-color: salmon;
  padding: 3vw;
  margin: 0;
  border: 1px solid salmon;
  border-radius: 10px;
  box-shadow: 10px -12px 17px 11px black;
}
.nav-container{
  position: absolute;
  right: 2px;
  margin-right: 80px;
}
.row-header1{
  margin: 8px;
}
.row-header2{
  margin: 8px;
}
.row-header3{
  margin: 6px;
}
a, u {
  text-decoration: none;
  color:blue;
  font-size: 15px;
  font-weight: 5;
  } -->



  <!-- for footer -->

  <!-- <p></p> -->


  <!-- p{
    background-color: silver;
    padding: 2vw;
    position: absolute;
    bottom: -16px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 10px 7px 25px 11px black;
} -->