img {
    padding: 0px;
    width: 58%;
    height: 40vw;
    margin: 0px;
    border-radius: 30vw;
    border: 1px solid yellow;
}
h1{
    color: orange;
    margin-left: 12vw;
}
h3{
    color: skyblue;
    width: 37vw;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.for-text{
    position: absolute;
    left: 60vw;
    top: 14vw;
    width: 60vw;
}