<app-header></app-header>
<div class="container">
<div class="image1">
  <img  src="../assets/4207.jpg" alt="image1">
</div>
<div class="for-text">
  <h1>Welcome</h1>
  <h3>We believe in the power of innovation and embrace emerging technologies to create software solutions that drive business growth.</h3>
  <h3>We believe in the power of innovation and embrace emerging technologies to create software solutions that drive business growth.</h3>
  <h3>Our commitment to continuous improvement drives us to stay updated with the latest technologies and methodologies in software development.</h3>
  <h3>We are dedicated to delivering projects on time and within budget, without compromising on quality.</h3>
  <h3>We believe in fostering a collaborative environment where creativity thrives, enabling us to create innovative and intuitive software solutions.</h3>
</div>
</div>
<app-footer></app-footer>